{% extends 'base.twig' %}

{% block head %}
    {{ parent() }}

    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={
        'modules':[{
            'name':'visualization',
            'version':'1',
            'packages':['corechart']
        }]
    }"></script>

    <script type="text/javascript">
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Date');
            data.addColumn('number', 'Money');
            data.addColumn('number', 'Expenses');
            data.addColumn('number', 'Income');

            data.addRows({{ to_google_data(transactions) }});

            var chart = new google.visualization.AreaChart(document.querySelector('#chart'));

            chart.draw(data, {
                width: 800,
                height: 2000,
                hAxis: { format: 'currency' },
                vAxis: { format: 'd - M' },
                colors: ['#2e8bcc', '#e51400', '#393'],
                orientation: 'vertical',
                focusTarget: 'category'
            });
        }
    </script>
{% endblock %}

{% block body %}
    <h1>Overview {{ transactions|first.time|date('d-M-Y') }} - {{ transactions|last.time|date('d-M-Y') }}</h1>

    <table class="debit-table">
        <caption>Debit</caption>

        {% for transaction in expenses %}
        <tr>
            <td>{{ transaction.description|strip_payment_info|lower|capitalize|nl2br }}</td>
            <td class="money">{{ (transaction.money.amount / 100)|number_format(2, ',', '') }}</td>
        </tr>
        {% endfor %}

        <tr>
            <td></td>
            <td class="money"><b>{{ (total_expenses / 100)|number_format(2, ',', '') }}</b></td>
        </tr>
    </table>

    <table class="credit-table">
        <caption>Credit</caption>

        {% for transaction in income %}
            <tr>
                <td>{{ transaction.description|strip_payment_info|lower|capitalize|nl2br }}</td>
                <td class="money">{{ (transaction.money.amount / 100)|number_format(2, ',', '') }}</td>
            </tr>
        {% endfor %}

        <tr>
            <td></td>
            <td class="money"><b>{{ (total_income / 100)|number_format(2, ',', '') }}</b></td>
        </tr>
    </table>

    <div id="chart"></div>
{% endblock %}
